.App {
    background-color: ghostwhite;
}

html {
    background-color: rgba(1, 1, 100, .1);
}

.chatbox{
    display: flex;
    padding: 1rem;
    background-color: rgba(1, 1, 100, .6);
    color: white;
}

.msg-container {
    display: flex;
    flex-direction: column;
}

.chatbox2 {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(1, 1, 100, .5);
    color: white;
    border-radius: 3rem;
    margin: 1rem;
}

.chatbox1 {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 1rem;
    background-color: rgba(1, 1, 100, .3);
    color: white;
    border-radius: 3rem;
    margin: 1rem;
}

.msg {
    /*margin: 1rem;*/
}

.msg-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: .5rem;
}

.byline {
    padding-top: -1rem;
    font-size: .8rem;
}

.pic {
    width: 3rem;
    border-radius: 50rem;
    margin: .5rem;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.input-form {
    width: 20rem;
    border-radius: .5rem;
    padding: .6rem;
    margin: 1rem;
    background-color: rgba(1, 1, 100, .4);
    color: white;
    font-size: 1rem;
}

.label {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.btn {
    width: 15rem;
    background-color: rgba(1, 1, 100, .6);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.btn:hover {
    color: rgba(1, 1, 100, .6);
    background-color: white;
}

.message-txt {
    height: 3rem;
    margin: 1rem 3rem;
    border-radius: .5rem;
    padding: .5rem;
}

.msg-area {
    display: flex;
    flex-direction: column;
}

.msg-btn {
    width: 20rem;
    margin: 0 auto;
    padding: .5rem;
    border-radius: 1rem;
    background-color: rgba(1, 1, 100, .6);
    color: white;
}

.msg-btn:hover {
    color: rgba(1, 1, 100, .6);
    background-color: white;
}
